@charset "utf-8"

@keyframes rocket {
0%{ 
	transform:translateX(-200px) translateY(200px); opacity:0;
  }
100%{}
	}
@-webkit-keyframes rocket {
0%{ 
	transform:translateX(-200px) translateY(200px); opacity:0;
	}
100%{}
	}
@keyframes rocketOut {
0%{ 
	
  }
100%{transform:translateX(200px) translateY(-200px); opacity:0;}
	}
@-webkit-keyframes rocketOut {
0%{ }

100%{ transform:translateX(200px) translateY(-200px); opacity:0; }
	}
@keyframes miaov {
0%{ 
	transform:translateX(-193px) translateY(30px); opacity:0;
  }
100%{ opacity: 1; }
	}
@-webkit-keyframes miaov {
0%{ transform:translateX(-193px) translateY(30px); opacity: 0;}
100%{ opacity: 1; }
	}
@keyframes miaovOut {
0%{ }
100%{ opacity: 0; }
	}
@-webkit-keyframes miaovOut {
0%{ }
100%{ opacity: 0; }
	}

@keyframes thinks{
0%{ transform:translateY(100px); opacity:0; }
100%{ transform:translateY(0px); opacity: 1; }
	}
@-webkit-keyframes thinks{
0%{ transform:translateY(100px); opacity:0; }
100%{ transform:translateY(0px); opacity: 1;}
	}
@keyframes thinksOut{
0%{ }
100%{ transform:translateY(100px); opacity: 0; }
	}
@-webkit-keyframes thinksOut{
0%{ }
100%{ transform:translateY(100px); opacity: 0;}
	}


@keyframes withyou{
0%{ transform:translateY(100px); opacity:0; }
100%{ transform:translateY(0px); opacity: 1; }
	}
@-webkit-keyframes withyou{
0%{ transform:translateY(100px); opacity:0; }
100%{ transform:translateY(0px); opacity: 1; }
	}
@keyframes withyouOut{
0%{ }
100%{ transform:translateY(100px); opacity: 0; }
	}
@-webkit-keyframes withyouOut{
0%{ }
100%{ transform:translateY(100px); opacity: 0; }
	}

@keyframes arrow{
0%{ transform:translateY(0px); opacity:0; }
60%{ transform:translateY(-20px); opacity: 1; }
90%{ transform:translateY(-36px); opacity:0; }
100%{ transform:translateY(0px); opacity:0; }	
}
@-webkit-keyframes arrow{
0%{ transform:translateY(0px); opacity:0; }
60%{ transform:translateY(-20px); opacity: 1; }
90%{ transform:translateY(-36px); opacity:0; }
100%{ transform:translateY(0px); opacity:0; }	
}
@keyframes run{
0%{ transform:rotate(0deg); }
100%{ transform:rotate(360deg); }		
}
@-webkit-keyframes run{
0%{ transform:rotate(0deg); }
100%{ transform:rotate(360deg); }
}
@keyframes circleOut{
0%{}
100%{ transform:translateY(100px); opacity:0; }
}
@-webkit-keyframes circleOut{
0%{}
100%{ transform:translateY(100px); opacity:0; }	
}
@keyframes startOut{
0%{}
100%{ opacity:0; }
}
@-webkit-keyframes startOut{
0%{}
100%{ opacity:0; }
}
