@font-face {
/* font-properties */
font-family: opensans;
src:url('../style/opensans.ttf'),  
url('../style/opensans.ttf');
}

#home-product .contact .button{
  font-size: 16px!important;
  font-family: opensans!important;
  padding:0!important;
  text-align: center;
  line-height: 56px;
  
  margin:57px auto 30px auto;
}
#home-product .contact .button i{
  font-size: 30px!important;
  padding-right: 8px!important;
  
  vertical-align: middle;
}
#home-product .contact{
  padding: 7%;
}
#home-product .contact p{
  font-size: 13px;
}
#home-product .contact .heading-line{
  padding-bottom: 15px;
}

.main-product .leftSide {
  padding-right: 0em!important;
}
#home-product .product-base {
  margin-bottom: 1em;
}
#home-product .product-base .product-top {
  background: #f2f2f2;
  padding: 1em;
  margin-bottom: 1em;
}
#home-product .product-base p {
  line-height: 2.4em;
}
#home-product .product-base p .text-muted {
  padding-right: 0.5em;
}
#home-product .product-base .price {
  width: 90%;
  margin-bottom: 2em;
}
#home-product .product-base .price td {
  border: 1px solid #b3b3b3;
  line-height: 2.5em;
  text-align: center;
}
#home-product .product-base .price thead td {
  background: #cccccc;
}
#home-product .product-base .button {
  display: block;
  padding: 10px 0px;
  width: 50%;
  color: #ffffff;
  background: #1686cc;
  text-align: center;
  font-size: 1.2em;
}
#home-product .product-base .button .fa {
  padding-right: 1em;
}
.article,
.article-list {
  font-size: 1.05em;
  border: 1px solid #d4d4d4;
  margin-top: 1em;
}
.article p,
.article-list p {
  margin-bottom: 2em;
  line-height: 2em;
}
.main_block {
  padding: 30px 0;
  width: 100%;
  border-bottom: 2px solid #dddddd;
}
.main_block .text_block {
  font-size: 14px;
  padding-left: 30px;
}
@media (max-width: 1000px) {
  .main_block .text_block {
    width: 100%;
  }
}
.main_block .text_block .bt {
  font-size: 18px;
  color: #333333;
}
.main_block .text_block .data {
  color: #999999;
}
.main_block .text_block .tex {
  color: #666666;
  line-height: 25px;
  margin-top: 10px;
}
.main_block .text_block a {
  font-size: 16px;
  color: #646464;
  padding: 5px 30px;
  margin-top: 10px;
  border-radius: 5px;
  display: inline-block;
  background: #dddddd;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari 和 Chrome */
  -o-transition: all 0.5s;
  /* Opera */
}
.main_block .text_block a:hover {
  background: #1686cc;
  color: #ffffff;
}
.main_block .img_block {
  height: 185px;
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
}
@media (max-width: 1000px) {
  .main_block .img_block {
    display: none;
  }
}
.main_block:hover {
  background: #fafafa;
  cursor: inherit;
}
@media (max-width: 680px) {
  .cards-borderless .card > .card-content {
    width: 100% !important;
    float: left;
  }
}
@media (max-width: 800px) {
  #home-info aside:last-child {
    display: none;
  }
  #home-info .button {
    margin-top: 5px;
  }
}
@media (max-width: 1000px) {
  .main-header {
    position: inherit;
  }
}
@media (max-width: 690px) {
  .content nav {
    display: none;
  }
}
body {
  padding-top: 0!important;
  position: relative;
}
@media (max-width: 1000px) {
  body .navbar-form {
    display: none;
  }
}
body .sm_btn {
  display: none;
}
@media (max-width: 690px) {
  body .sm_btn {
    display: block;
  }
}
@media (max-width: 1000px) {
  body {
    padding-top: 0;
  }
}
.main-header {
  position: relative;
}
.main-header .sm_btn {
  position: absolute;
  top: 10px;
  right: 20px;
}
.main-header .sm_btn a {
  outline: none;
}
.main-header .sm_btn a:hover img {
  transform: translate(0, 2px);
  -ms-transform: translate(0, 2px);
  /* IE 9 */
  -webkit-transform: translate(0, 2px);
  /* Safari and Chrome */
  -o-transform: translate(0, 2px);
  /* Opera */
  -moz-transform: translate(0, 2px);
}
.ul_menu {
  position: absolute;
  top: 52px;
  right: 0;
  left: 0;
  opacity: 0.9;
  box-shadow: 0 -1px 0 0 #f6f6f6;
}
.ul_menu ul {
  padding: 0!important;
  list-style: none;
}
.ul_menu ul li {
  background: #00aeef;
  border-bottom: 1px solid #ffffff;
  padding: 10px;
  width: 100%;
  transition: width 1s;
  -moz-transition: width 1s;
  /* Firefox 4 */
  -webkit-transition: width 1s;
  /* Safari and Chrome */
  -o-transition: width 1s;
  /* Opera */
}
.ul_menu ul li:hover {
  width: 90%;
}
.ul_menu ul li a {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 375px) {
  .main-header {
    padding: 0 0 10px 5px;
  }
}
@media (max-width: 375px) {
  .main-header .content a img {
    width: 180px!important;
  }
}
#home-form {
  background: #ebebeb;
  padding: 2em 0px;
  margin-bottom: 2em;
  color: #333333 ;
  font-size: 1.1em;
}
#home-form i {
  font-size: 1.2em;
  padding-right: 1em;
}
#home-form table {
  width: 100%;
}
#home-form table td {
  line-height: 2em;
  vertical-align: top;
  padding-top: 10px;
}
#home-form table .input-text {
  border: 1px solid #535353;
  width: 350px;
  padding-left: 1em;
  height: 2em;
}
#home-form table textarea.input-text {
  width: 90%;
  height: 8em;
}
#home-form .col1 {
  width: 120px;
}
.block_list {
  margin-top: 5px;
  position: relative;
}
.block_list .go_left {
  width: 5%;
  height: 100%;
  background: #c9c9c9;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
}
.block_list .go_left i {
  position: absolute;
  top: 45%;
  right: 35%;
  color: white;
}
.block_list .go_right {
  width: 5%;
  height: 100%;
  background: #c9c9c9;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
}
.block_list .go_right i {
  position: absolute;
  top: 45%;
  right: 35%;
  color: white;
}
.block_list .img_list {
  width: 90%;
  margin: 0 5%;
}
.block_list .img_list .img_block {
  width: 16.666666%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}
.block_list .img_list .img_block .border {
  position: relative;
}
.block_list .img_list .img_block .border a {
  outline: none;
}
.block_list .img_list .img_block .border:hover {
  border: 1px solid #00aeef;
}
.block_list .go div {
  background: #1686cc;
}
.block_list .go:hover div {
  background: #00aeef;
}
.img {
  width: 100%;
}
.contact_send {
  margin-top: 30px;
  width: 100%;
  background: #eaeaea;
  padding: 6px 0 3px 0;
}
@media (max-width: 768px) {
  .contact_send {
    padding: 15px 0;
  }
}
.contact_send P {
  font-size: 20px;
  color: #333333;
}
@media (max-width: 768px) {
  .contact_send P {
    font-size: 18px;
    padding: 5px;
  }
}
.contact_send .form-group {
  width: 85%;
  margin: 0 auto;
  padding: 30px 0;
}
@media (max-width: 768px) {
  .contact_send .form-group {
    width: 100%;
    padding: 0;
  }
}
.contact_send .form-group label {
  float: left;
  text-align: right;
  line-height: 34px;
  font-size: 16px;
  color: #666666;
  font-weight: inherit;
}
@media (max-width: 768px) {
  .contact_send .form-group label {
    text-align: left;
  }
}
.contact_send .form-group .input_list {
  width: 100%;
  padding: 5px;
}
.contact_send .form-group .button_black {
  width: 30%;
  background: #2496e6;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 0;
  margin-left: 5px;
}
.nav-tabs > li > a {
  line-height: 2!important;
}
#home-product .menu .first-nav .title {
  padding-left: 1.5em;
}
#home-product .menu .first-nav .title a {
  font-weight: bold;
}
.contact_send .form-group .button_black {
  padding: 5px;
}
.contact_send .form-group {
  padding-top: 0;
  padding-bottom: 15px;
}
.menu li {
  position: relative;
}
.menu li i.late_cion {
  position: absolute;
  color: #FFFFFF;
  font-size: 14px;
  top: 19px;
  left: 10px;
}
.menu li i.late_cion2 {
  position: absolute;
  color: #FFFFFF;
  font-size: 17px;
  top: 18px;
  right: 5px;
}
.main-footer section {
  width: 80%;
}
.main-footer section span.cion {
  width: 4%;
  display: inline-block;
  float: left;
}
.main-footer section span.text_right {
  width: 95%;
  display: inline-block;
  float: left;
}
.main-footer aside tittle {
  font-weight: bold;
  font-size: 18px;
}
.main-footer aside i {
  font-weight: bold;
  font-size: 18px;
  padding-right: 10px;
}
.footer_bottom {
  background: black;
  color: #eaeaea;
  font-family: opensans, "Helvetica, sans-serif";
  font-size: 14px;
  padding: 5px 0;
}
.main-footer {
  background: #a6a6a6;
}
.product-header {
  background: #1686cc;
  color: #fff;
  font-size: 1.4em;
  height: 2.5em;
  line-height: 2.5em;
  padding-left: 1em;
}
.product-section {
  border: 1px solid #d4d4d4;
  padding: 1em 2em 2em 2em;
  margin-top: 1em;
  font-size: 1.05em;
  color: #333333;
}
@media (max-width: 1000px) {
  .product-section {
    padding: 1em;
  }
}
.product-section .title {
  font-size: 1.4em;
  line-height: 3em;
}
.product-section .content {
  overflow: hidden;
}
.product-section .content .subItem {
  float: left;
  width: 33.33%;
  margin-bottom: 0.6em;
}
@media (max-width: 1000px) {
  .product-section .content .subItem {
    width: 100%;
  }
}
.product-section .content img {
  max-width: 100%;
}
